
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Nothing You Could Do';
}
.navbar-brand{
    font-family: 'Robot Mono';
    font-size: 35px;
    color: rgb(170, 26, 26) !important;  

}

.nav-link{
    font-size: 15px;
    font-family: fantasy;
    color: rgb(8, 2, 46) !important;
    margin: 15px;
}

.nav-link:hover{
    color: goldenrod!important;
}

.site-content{
    background-image: url("Stock/Sombrero.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.site-title, .site-desk{
    color:rgb(170, 26, 26);
    font-family: 'Courier New', Courier, monospace;
}
.site-title{
    margin-top: 20%;
    margin-bottom: 6%;
    font-size: 50px;
}

    /* styling paper */
#paper {
    width: 900px;
    height: 300px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
  }
/* styling red vertical line */
#paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
  }
  
  /* styling blue horizontal lines */
  #pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  }
  
  /* styling text content */
  #content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-family: 'Nothing You Could Do';
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
  
  